name: Publish Docker images

on:
  push:
    branches: [ master ]
  schedule:
    - cron:  '0 0 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      repo: "govpf/earthly"
    steps:
    -
      name: Checkout
      uses: actions/checkout@v3.6.0
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1
    -
      name: Login to DockerHub
      uses: docker/login-action@v2.2.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    -
      name: Build and push
      uses: docker/build-push-action@v4.1.1
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64
        pull: true
        push: true
        tags: |
          ${{ env.repo }}:latest

    - name: Update repo description
      uses: peter-evans/dockerhub-description@v3.4.2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: "${{ env.repo }}"
