name: Build Docker images

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      repo: "govpf/earthly"
    steps:

    - name: Checkout
      uses: actions/checkout@v3.5.3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.6.0

    - name: Build and push
      uses: docker/build-push-action@v4.0.0
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64
        pull: true
        push: false
        tags: |
          ${{ env.repo }}:latest
