name: Build Docker images

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      repo: "govpf/earthly"
    steps:

    - name: Checkout
      uses: actions/checkout@v4.1.6

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.3.0

    - name: Build and push
      uses: docker/build-push-action@v5.3.0
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64
        pull: true
        push: false
        tags: |
          ${{ env.repo }}:latest
